node_modules
npm-debug.log
.DS_Store
/web/public/static/main-bundle-e15fa20dddb957cb70e8.js
/web/public/static/0-chunk-533c5e8bfcaa637ff4da.js
main-bundle-660e5d48ab998f2e74f1.js
1-chunk-ed9228e1aa10f3bc01a9.js
