@import "../../variables";

.compose {
  top: 5% !important;
  transform: translateY(-5%) !important;
  min-height: 200px;
  max-height: 400px;

  &.bubble {
    padding: 0 0 0 0;

    .bubble-header {
      padding: 12px 15px 12px 15px;
    }

    .bubble-title {
      flex: 1;
      height: 24px;
      font-weight: bold;
      line-height: 24px;
    }

    .bubble-body {
      background-color: #F6F6F6;
      padding: 10px 15px 12px 15px;
      margin: 0;
    }

  }

  textarea {
    width: 100%;
    resize: none;
    height: 132px;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: @gray-drak;
    padding: 0;
    line-height: 23px;
    background: transparent;
  }

  textarea:focus {
    outline: none
  }
}
