<div class="dialog-container">
  <div class="bubble dialog compose">
    <div class="bubble-header">
		<div class="bubble-title">
			起头:<input type="text" name="story-title" v-model="story_title" placeholder="故事名称" v-show="creation"/>
		</div>
		<div class="bubble-symbol" v-on:click="toggleTips">
		  <div class="symbol-container">
		    ?
		  </div>
		</div>
    </div>
    <div class="bubble-body">
      <textarea name="story-content" v-model="story_content" placeholder="请尽情创作吧..."></textarea>
    </div>
  </div>
  <submit-button side="center bottom" buttonmsg="提交" v-on:click="submit"></submit-button>
  <app-background-cover v-on:click="toggleComposeDialog"></app-background-cover>
</div>
