.logo {
	font-size: 40px;
	text-align: center;
	margin-top: 40px;
	color: #333333;
}

.slogan {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 15px;
	font-size: 15px;
	color: #9FA7B0;
}

.button {
	margin-top: 0;
	margin-bottom: 20px;
}

.landing {
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 40px !important;
}