<div class="view">
  <!-- List the chainstory -->
  <li v-for="bubble in bubbles">
    <card-section :author="bubble.author"></card-section>
    <app-bubble :bubble="bubble"></app-bubble>
  </li>
  <!-- tips bubble shows the compose tip at the bottom -->
  <app-tips-bubble :bubble="tipsBubble"></app-tips-bubble>
  <!-- when you click the question mark on tips bubble, the dialog will present the tips content -->
  <app-tips-dialog v-show="tipsDialogState" :dialog="dialogContent" transition="fade"></app-tips-dialog>
  <!-- compose dialog -->
  <app-compose-dialog v-show="composeDialogState" :content="composeContent" transition="fade" :sid="sid" :storytitle="storytitle"></app-compose-dialog>
  <!-- Click compose button to present compose dialog -->
  <app-compose-button side="center" :buttonmsg.once="buttonMsg" v-on:click="toggleCompose"></app-compose-button>
</div>
