<div class="view">
  <!-- List the chainstory -->
  <li v-for="bubble in bubbles">
    <app-bubble :bubble.once="bubble"></app-bubble>
  </li>
  <!-- tips bubble shows the compose tip at the bottom -->
  <app-tips-bubble :bubble.once="tipsBubble"></app-tips-bubble>
  <!-- when you click the question mark on tips bubble, the dialog will present the tips content -->
  <app-tips-dialog v-show="tipsDialogState" :dialog="dialogContent"></app-tips-dialog>
  <!-- Click compose button to present compose dialog -->
  <app-compose-button side="center" :buttonmsg.once="buttonMsg"></app-compose-button>
</div>
