@import "../../variables";

.dialog-container {
  position: fixed;
  z-index: 2001;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .dialog {
    position: absolute;
    top: 40%;
    left: 20px;
    right: 20px;
    transform: translateY(-40%);
    z-index: 2001;

    .bubble-title {
      font-weight: bolder;
      color: @gray-drak;
    }

    .bubble-body {
      line-height: 25px;
      font-weight: lighter;
      margin-bottom: 10px;
      color: @gray-drak;
    }
  }
}
